*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: brown;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.navbar{
  padding: 20px;
  margin: 10px;
  background-color: rgb(144, 224, 238);
  font-weight: bolder;
  font-size: large;
}