.header{
    width: 100%;
    background-color: rgb(96, 255, 152);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}
h3{
    color: rgb(5, 5, 5);
    text-decoration: underline;
}
