:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #333;
  padding: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 30px;

}
.card{
  height: 400px;
  width: 300px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;

}

.top button{
  display: flex;
  align-items: center;
  padding: 3px 8px;
  border-radius: 10px;
  border: 1px solid #dadada;
  font-weight: 400;
  color: #b1b1b1;
  background-color: transparent;
  
  
}

.center{
  color: black;
}
.center h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.center h3 span{
  font-size: 10px;
  color: #b1b1b1;
}

.center h2{
  font-size: large;
  padding-top:5px ;
}

.center div{
  display: flex;
  align-items: center;
  gap: 10px;

}

.center div h4{
  font-size: 10px;
  background-color: #dddada;
  padding: 5px;
  border-radius: 6px;
  margin-top: 5px;
}
.bottom{
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  color: #1b1b1b;
}

.bottom button{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  background-color: black;
}

.bottom p{
  font-size: 12px;
  color: #b0b0b0;
}