.btn{
    padding: 10px 15px;
    margin: 10px 25px;
    background-color: lightseagreen;
    color: #111;
    border: 1px solid black;
    border-radius: 5px;

    &:hover{
        background-color: aquamarine;
    }
}