*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}

.main{
  height: 100vh;
  width: 100%;
  background-color: #111;
  color: rgb(255, 255, 255);
}

.product{
  height: 3em;
  width: 5em;
  margin: 10px;
  border-radius: 5px;
  background: #313030;
}

h1{
  padding: 40px;
}
h2{
  margin-left: 30px;
}

button{
  margin-left: 40px;
  padding: 5px 20px;
  outline: none;
  border: 1px solid black;
  background-color: rgb(56, 231, 56);
  border-radius: 10px;


}

.change1{
  color: lightcoral;
}
.change2{
  color: lightseagreen;
}
 